.long-dashed-border {
  border-radius: 8px;
  background-image: repeating-linear-gradient(
      2deg,
      #f3f4ff,
      #f3f4ff 9px,
      transparent 9px,
      transparent 15px,
      #f3f4ff 15px
    ),
    repeating-linear-gradient(
      92deg,
      #f3f4ff,
      #f3f4ff 9px,
      transparent 9px,
      transparent 15px,
      #f3f4ff 15px
    ),
    repeating-linear-gradient(
      182deg,
      #f3f4ff,
      #f3f4ff 9px,
      transparent 9px,
      transparent 15px,
      #f3f4ff 15px
    ),
    repeating-linear-gradient(
      272deg,
      #f3f4ff,
      #f3f4ff 9px,
      transparent 9px,
      transparent 15px,
      #f3f4ff 15px
    );
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
